;; {{/* -*- mode: clojure -*- */ -}} Auto-modified by gostd at {{curtimeandversion}}

(def ^:dynamic
  ^{:private true
    :doc "A set of symbols representing loaded custom libs"}
  *custom-libs* #{
{{.}}    })

(var-set #'*loaded-libs* (into *loaded-libs* *custom-libs*))
