func {{.MaybeIsApiName}}(o Object) ({{.PtrTo}}{{.TypeName}}, bool) {
	switch o := o.(type) {
	case GoObject:
		switch r := o.O.(type) {
{{.Coerce}}{{.CoerceRefTo}}		}
{{.Others}}	}
	return {{.NilForType}}, false
}

func {{.ExtractApiName}}(args []Object, index int) {{.PtrTo}}{{.TypeName}} {
	a := args[index]
	if res, ok := {{.MaybeIsApiName}}(a); ok {
		return res
	}
	panic(RT.NewArgTypeError(index, a, "GoObject[{{.TypeAsString}}]"))
}

func {{.ReceiverArgAsApiName}}(name, rcvr string, args *ArraySeq, n int) {{.PtrTo}}{{.TypeName}} {
	a := SeqNth(args, n)
	if res, ok := {{.MaybeIsApiName}}(a); ok {
		return res
	}
	panic(RT.NewReceiverArgTypeError(n, name, rcvr, a, "GoObject[{{.TypeAsString}}]"))
}

