func {{.MaybeIsApiName}}(o Object) ({{.PtrTo}}{{.TypeName}}, bool) {
	switch o := o.(type) {
	case GoObject:
		switch r := o.O.(type) {
{{.Coerce}}{{.CoerceRefTo}}		}
{{.Others}}	}
	return {{.NilForType}}, false
}

func {{.ExtractApiName}}(args []Object, index int) {{.PtrTo}}{{.TypeName}} {
	a := args[index]
	if res, ok := {{.MaybeIsApiName}}(a); ok {
		return res
	}
	panic(RT.NewArgTypeError(index, a, "GoObject[{{.TypeAsString}}]"))
}

func {{.ExtractApiName}}_s(args []Object, index int) []{{.PtrTo}}{{.TypeName}} {
	vec := make([]{{.PtrTo}}{{.TypeName}}, 0)
	for i := index; i < len(args); i++ {
		vec = append(vec, {{.ExtractApiName}}(args, i))
	}
	return vec
}

func {{.FieldAsApiName}}(o Map, k string) {{.PtrTo}}{{.TypeName}} {
	ok, v := o.Get(MakeKeyword(k))
	if !ok || v.Equals(NIL) {
		return {{.NilForType}}
	}
	if res, ok := {{.MaybeIsApiName}}(v); ok {
		return res
	}
	panic(FailObject(v, "GoObject[{{.TypeAsString}}]", ""))
}

func {{.ReceiverArgAsApiName}}(name, rcvr string, args *ArraySeq, n int) {{.PtrTo}}{{.TypeName}} {
	a := SeqNth(args, n)
	if res, ok := {{.MaybeIsApiName}}(a); ok {
		return res
	}
	panic(RT.NewReceiverArgTypeError(n, name, rcvr, a, "GoObject[{{.TypeAsString}}]"))
}

