{{/* -*- mode: go -*- */ -}}

{{.HelperFunc}}func {{.CtorName}}(_v Object) {{.RefTo}}{{.GoTypeName}} {
	switch _o := _v.(type) {
{{.Cases}}	}
	panic(RT.NewArgTypeError(0, _v, "{{.Expected}}"))
}

func {{.WrappedCtorName}}(_o Object) Object {
	return MakeGoObject({{.CtorName}}(_o))
}

